# Python interpreter/debugger
ipython
ipdb

# Linting, Formatting and Tooling
black
flake8
isort
mypy
pip-tools
pre-commit
ptvsd
pydocstyle
pylint
python-dotenv
rope
safety
watchdog

# Jupyter notebook
jupyter
jupyter-contrib-nbextensions
jupyter-nbextensions-configurator
nbdime
cython
fortran-magic

# Scientific libraries
datashader
findspark
keras
numpy
pandas
scikit-image
scikit-learn
tensorflow-gpu

# Plotting libraries
bokeh
matplotlib
seaborn
