# Python interpreter/debugger
ipython
ipdb

# Linting, Formatting and Tooling
black
flake8
isort
line_profiler
mypy
nose
pip-tools
pre-commit
ptvsd
pydocstyle
pylint
python-dotenv
rope
safety
watchdog

# Jupyter notebook
jupyter
jupyterlab
jupyter-contrib-nbextensions
jupyter-nbextensions-configurator
nbdime
cython
fortran-magic
yappi

# Scientific libraries
datashader
findspark
keras
numpy
pandas
scikit-image
scikit-learn
tensorflow-gpu

# Databases
pymongo

# Visualisation libraries
bokeh
ipyleaflet
ipysheet
matplotlib
seaborn

# Useful libraries
dateparser
humanize
tqdm
