# Python interpreter
ipython
ipdb

# Deep Learning
tensorflow-gpu
keras

# Spark
findspark

# Jupyter notebook
jupyter
jupyter-contrib-nbextensions
jupyter-nbextensions-configurator
nbdime
cython
fortran-magic

# Linting and Formatting
autoflake
autopep8
flake8
isort
pep257
pylint
yapf

# Scientific libraries
numpy
pandas==0.19.2
scikit-learn
scikit-image

# Plotting libraries
matplotlib
seaborn
bokeh

# Utils
xlrd

# Workspace tools
pip-tools
